    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="/">
                    <img id="brandImage" src="assets/images/logo_puente_magico.ico" alt="Puente Mágico">
                    Puente Mágico</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/product-catalog">Ver Catalogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact">Contacto</a>
                        </li>
                        <li class="nav-item" id="loginMenu" routerLink="display: none;">
                            <a class="nav-link" id="loginMenu" routerLink="/login">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item" id="registerMenu" style="display: none;">
                            <a class="nav-link" id="registerMenu" routerLink="/register">Registro Cliente</a>
                        </li>
                        <li class="nav-item active" id="profileMenu">
                            <a class="nav-link active" id="profileMenu" routerLink="/profile">Perfil Cliente</a>
                        </li>
                        <li class="nav-item" id="logoutMenu">
                            <a class="nav-link" id="logoutMenu" routerLink="/logout">Cerrar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/cart">Carro Compra</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content -->
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Perfil Cliente</h2>
				<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="clientName" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="clientName" name="clientName" formControlName="clientName">
                        <div *ngIf="profileForm.get('clientName')?.invalid && profileForm.get('clientName')?.touched" class="text-danger">
                         Nombre es obligatorio.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="clientSurname" class="form-label">Apellidos:</label>
                        <input type="text" class="form-control" id="clientSurname" name="clientSurname" formControlName="clientSurname">
                        <div *ngIf="profileForm.get('clientSurname')?.invalid && profileForm.get('clientSurname')?.touched" class="text-danger">
                         Apellidos es obligatorio.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="email" name="email" formControlName="email">
                        <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="text-danger">
                            <small *ngIf="profileForm.get('email')?.errors?.['required']">Correo Electrónico es obligatorio.</small>
                            <small *ngIf="profileForm.get('email')?.errors?.['email']">Formato de correo electrónico incorrecto.</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="password" name="password" formControlName="password">
                        <small class="form-text text-muted">Déjelo en blanco si no desea cambiar la contraseña</small>
                        <div *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched" class="text-danger">
                            <small *ngIf="profileForm.get('password')?.errors?.['pattern']">La contraseña debe tener entre 6 y 18 caracteres, al menos un número y una letra mayúscula.</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirmar Contraseña:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
                        <div *ngIf="profileForm.hasError('mismatch') && profileForm.get('confirmPassword')?.touched" class="text-danger">
                         Las contraseñas no coinciden.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="birthdate" class="form-label">Fecha de Nacimiento:</label>
                        <input type="date" class="form-control" id="birthdate" name="birthdate" formControlName="birthDate">
                        <div *ngIf="profileForm.get('birthDate')?.invalid && profileForm.get('birthDate')?.touched" class="text-danger">
                         Fecha de Nacimiento es obligatoria.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dispatchAddress" class="form-label">Dirección de Despacho:</label>
                        <input type="text" class="form-control" id="dispatchAddress" name="dispatchAddress" formControlName="dispatchAddress">
                    </div>
					<br/>
                    <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Actualizar Perfil</button>
                    <button type="button" class="btn btn-secondary" (click)="onReset()">Limpiar</button>
                </form>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
            <p>&copy; 2024 Puente Mágico. Reservados todos los derechos.</p>
        </div>
    </footer>

    <!-- Loading Screen -->
    <div id="loading-screen" class="d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>
