    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="/">
                    <img id="brandImage" src="assets/images/logo_puente_magico.ico" alt="Puente Mágico">
                    Puente Mágico</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin-user-management">Gestión Usuarios</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active" routerLink="/admin-client-management">Gestión Clientes</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="/admin-contact-management">Gestión Contactos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin-order-monitoring">Monitoreo Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin-logout">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content -->
    <div class="container mt-5">
        <h2>Gestión de Clientes</h2>
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="clients.length === 0">No hay Clientes para mostrar.</div>
            <table *ngIf="clients && clients.length > 0" class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre Cliente</th>
                  <th>Apellido Cliente</th>
                  <th>Email</th>
                  <th>Contraseña</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clients; let i = index">
                  <td>{{ client.id }}</td>
                  <td>{{ client.clientName }}</td>
                  <td>{{ client.clientSurname }}</td>
                  <td>{{ client.email }}</td>
                  <td class="hidetext">{{ client.password }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" (click)="editClient(i)">Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteClient(i)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#addClientModal">Agregar Nuevo Cliente</button>
          </div>
        </div>
      
        <!-- Modals -->
        <div class="modal fade" id="editClientModal" tabindex="-1" aria-labelledby="editClientModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editClientModalLabel">Editar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="onUpdateClient()">
                  <div class="mb-3">
                    <label for="editId" class="form-label">ID:</label>
                    <input type="text" class="form-control" id="editId" [(ngModel)]="selectedClient.id" name="id" readonly>
                  </div>
                  <div class="mb-3">
                    <label for="editClientName" class="form-label">Nombre Cliente:</label>
                    <input type="text" class="form-control" id="editClientName" [(ngModel)]="selectedClient.clientName" name="clientName" required>
                  </div>
                  <div class="mb-3">
                    <label for="editClientSurname" class="form-label">Apellido Cliente:</label>
                    <input type="text" class="form-control" id="editClientSurname" [(ngModel)]="selectedClient.clientSurname" name="clientSurname" required>
                  </div>
                  <div class="mb-3">
                    <label for="editClientEmail" class="form-label">Dirección de Correo Electrónico:</label>
                    <input type="email" class="form-control" id="editClientEmail" [(ngModel)]="selectedClient.email" name="email" required>
                  </div>
                  <div class="mb-3">
                    <label for="editClientPassword" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="editClientPassword" [(ngModel)]="selectedClient.password" name="password" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      
        <div class="modal fade" id="addClientModal" tabindex="-1" aria-labelledby="addClientModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addClientModalLabel">Agregar Nuevo Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="onAddClient()">
                  <div class="mb-3">
                    <label for="addId" class="form-label">ID:</label>
                    <input type="text" class="form-control" id="addId" [(ngModel)]="newClient.id" name="id" readonly>
                  </div>
                  <div class="mb-3">
                    <label for="addClientName" class="form-label">Nombre Cliente:</label>
                    <input type="text" class="form-control" id="addClientName" [(ngModel)]="newClient.clientName" name="clientName" required>
                  </div>
                  <div class="mb-3">
                    <label for="addClientSurname" class="form-label">Apellido Cliente:</label>
                    <input type="text" class="form-control" id="addClientSurname" [(ngModel)]="newClient.clientSurname" name="clientSurname" required>
                  </div>
                  <div class="mb-3">
                    <label for="addClientEmail" class="form-label">Dirección de Correo Electrónico:</label>
                    <input type="email" class="form-control" id="addClientEmail" [(ngModel)]="newClient.email" name="email" required>
                  </div>
                  <div class="mb-3">
                    <label for="addClientPassword" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="addClientPassword" [(ngModel)]="newClient.password" name="password" required>
                  </div>
                  <button type="submit" class="btn btn-success">Agregar Cliente</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
            <p>&copy; 2024 Puente Mágico. Reservados todos los derechos.</p>
        </div>
    </footer>
    
    <!-- Loading Screen -->
    <div id="loading-screen" class="d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>
