//@import '../node_modules/bootswatch/dist/minty/bootstrap'; //Una sensación fresca
//@import '../node_modules/bootswatch/dist/journal/bootstrap'; //Nítido como una hoja de papel nueva
//@import '../node_modules/bootswatch/dist/sketchy/bootstrap'; //Un look dibujado a mano para maquetas y alegría
//@import '../node_modules/bootswatch/dist/zephyr/bootstrap'; //Ventoso y hermoso
//@import '../node_modules/bootswatch/dist/pulse/bootstrap'; //Un rastro de violeta
//@import '../node_modules/bootswatch/dist/flatly/bootstrap'; //Plano y moderno
//@import '../node_modules/bootswatch/dist/solar/bootstrap'; //Un giro en Solarized
@import '../node_modules/bootswatch/dist/lumen/bootstrap'; //Luz y sombra
//@import '../node_modules/bootswatch/dist/lux/bootstrap'; //Un toque de clase
//@import '../node_modules/bootswatch/dist/morph/bootstrap'; //Una capa neumórfica
//@import '../node_modules/bootswatch/dist/quartz/bootstrap'; //Una capa glassmorfica
//@import '../node_modules/bootswatch/dist/slate/bootstrap'; //Tonos de gris plomizo
//@import '../node_modules/bootswatch/dist/united/bootstrap'; //Ubuntu naranja y fuente única
//@import '../node_modules/bootswatch/dist/vapor/bootstrap'; //Una estética ciberpunk
//@import '../node_modules/bootswatch/dist/sandstone/bootstrap'; //Un toque de calidez
//@import '../node_modules/bootswatch/dist/yeti/bootstrap'; //Una fundación amiga
//@import '../node_modules/bootswatch/dist/cosmo/bootstrap'; //Una oda al Metro
//@import '../node_modules/bootswatch/dist/cerulean/bootstrap'; //Un cielo azul tranquilo
