    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="/">
                    <img id="brandImage" src="assets/images/logo_puente_magico.ico" alt="Puente Mágico">
                    Puente Mágico</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/product-catalog">Ver Catalogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact">Contacto</a>
                        </li>
                        <li class="nav-item" id="loginMenu">
                            <a class="nav-link " id="loginMenu" routerLink="/login">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item" id="registerMenu">
                            <a class="nav-link" id="registerMenu" routerLink="/register">Registro Cliente</a>
                        </li>
                        <li class="nav-item" id="profileMenu" style="display: none;">
                            <a class="nav-link" id="profileMenu" routerLink="/profile">Perfil Cliente</a>
                        </li>
                        <li class="nav-item active" id="logoutMenu" style="display: none;">
                            <a class="nav-link active" id="logoutMenu" routerLink="/logout">Cerrar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/cart">Carro Compra</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content -->
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2>Cerrar sesión exitosamente</h2>
                <p class="lead">Has cerrado tu sesión correctamente.</p>
                <a routerLink="/login" class="btn btn-primary">Iniciar Sesión</a>
                <p></p>
                <a routerLink="/home" class="btn btn-secondary">Ir a Home</a>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
            <p>&copy; 2024 Puente Mágico. Reservados todos los derechos.</p>
        </div>
    </footer>
    
    <!-- Loading Screen -->
    <div id="loading-screen" class="d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>
