
    <header class="bg-primary text-white text-center py-3">
        <h1>¡Mesa Mágica! Juegos de Mesa</h1>
        <nav class="nav justify-content-center">
            <a class="nav-link text-white" routerLink="/home">Inicio</a>
            <a class="nav-link text-white" routerLink="/catalog1">Aventura</a>
            <a class="nav-link text-white" routerLink="/catalog2">Familiares</a>
            <a class="nav-link text-white" routerLink="/catalog3">Para Niños</a>
            <a class="nav-link text-white" routerLink="/catalog4">Cooperativo</a>
            <a class="nav-link text-white" routerLink="/register">Registro</a>
        </nav>
    </header>
    <main class="container my-4">
        <section>
            <div class="card-body">
                <h1>Bienvenido a Mesa Mágica.</h1>
                <p class="lead">¡Donde los juegos de mesa son famosos por transformar cada reunión en diversión!</p>
            </div>
        </section>
    </main>
    
    <!-- Footer -->
    <footer class="bg-primary text-white text-center py-3">
        <p>&copy; 2024 Mesa Mágica. Todos los derechos reservados.</p>
        <p>
            <a routerLink="/home" class="text-white">Inicio</a> |
            <a routerLink="/catalog1" class="text-white">Aventura</a> |
            <a routerLink="/catalog2" class="text-white">Familiares</a> |
            <a routerLink="/catalog3" class="text-white">Para Niños</a> |
            <a routerLink="/catalog4" class="text-white">Cooperativo</a> |
            <a routerLink="/register" class="text-white">Registro</a>
        </p>
    </footer>
    
    <!-- Loading Screen -->
    <div id="loading-screen" class="d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>
