<!-- order-monitoring.component.html -->
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <img id="brandImage" src="assets/images/logo_puente_magico.ico" alt="Puente Mágico">
          Puente Mágico
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin-user-management">Gestión Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin-client-management">Gestión Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin-contact-management">Gestión Contactos</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link active" routerLink="/admin-order-monitoring">Monitoreo Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin-logout">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  <main class="container mt-5">
    <h2>Monitoreo Pedidos</h2>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID Pedido</th>
              <th>Email Cliente</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders" (click)="selectOrder(order.id)">
              <td>{{ order.id }}</td>
              <td>{{ order.email }}</td>
              <td>{{ getOrderProducts(order.id) }}</td>
              <td>{{ getOrderQuantity(order.id) }}</td>
              <td>{{ order.estado }}</td>
              <td>
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editOrderModal">Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addOrderModal">Agregar Nueva Orden</button> -->
      </div>
    </div>
  </main>
  
  <div class="modal fade" id="editOrderModal" tabindex="-1" aria-labelledby="editOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editOrderModalLabel">Editar Pedido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editOrderForm" (ngSubmit)="updateOrderStatus()">
            <div class="mb-3">
              <label for="editClientName" class="form-label">Nombre Cliente:</label>
              <input type="text" class="form-control" id="editClientName" formControlName="clientName" readonly>
            </div>
            <div class="mb-3">
              <label for="editProductName" class="form-label">Nombre Producto:</label>
              <input type="text" class="form-control" id="editProductName" formControlName="productName" readonly>
            </div>
            <div class="mb-3">
              <label for="editQuantity" class="form-label">Cantidad:</label>
              <input type="number" class="form-control" id="editQuantity" formControlName="quantity" readonly>
            </div>
            <div class="mb-3">
              <label for="editStatus" class="form-label">Estado:</label>
              <select class="form-control" id="editStatus" formControlName="status" required>
                <option value="Pendiente">Pendiente</option>
                <option value="Enviado">Enviado</option>
                <option value="Entregado">Entregado</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
            <p>&copy; 2024 Puente Mágico. Reservados todos los derechos.</p>
        </div>
    </footer>
    
    <!-- Loading Screen -->
    <div id="loading-screen" class="d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>
  